include:
  - ../common/docker-socket-proxy.yml
  - ../common/watchtower.yml
  - ../common/pihole.yml
  - ../common/portainer-agent.yml
  - ../common/glances.yml
services:
  nginx-proxy-manager:
    container_name: nginx-proxy-manager
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - /srv/volumes/nginx-data:/data
      - /srv/volumes/letsencrypt:/etc/letsencrypt
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    ports:
      - '9443:9443/tcp'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/volumes/portainer-data:/data
    restart: unless-stopped
  matter-server:
    image: "ghcr.io/home-assistant-libs/python-matter-server:stable"
    container_name: matter-server
    restart: unless-stopped
    network_mode: host
    security_opt:
      - apparmor:unconfined
    volumes:
      - '/srv/volumes/matter-server/data:/data/'
      - /run/dbus:/run/dbus:ro
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes: 
      - '/srv/volumes/homeassistant:/config'
      - '/etc/localtime:/etc/localtime:ro'
      - '/run/dbus:/run/dbus:ro'
    restart: unless-stopped
    privileged: true
    network_mode: host
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    user: 1000:1000
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    networks:
      - bridgenet
    volumes:
      - /srv/volumes/jellyfin/config:/config
      - /srv/volumes/jellyfin/cache:/cache
      - type: bind
        source: /src/media
        target: /media

networks:
  bridgenet:
    name: "Mega Bridge"
    driver: bridge
    enable_ipv4: true
    enable_ipv6: true
