include:
  - ../common/docker-socket-proxy.yml
  - ../common/watchtower.yml
  - ../common/pihole.yml
  - ../common/portainer-agent.yml
  - ../common/glances.yml
services:
  nebula-sync:
    container_name: 'Nebula-Sync'
    image: ghcr.io/lovelaze/nebula-sync:latest
    restart: unless-stopped
    environment:
      - PRIMARY=https://ns1.theshire.io|${PIHOLE_PASSWORD}
      - REPLICAS=https://ns2.theshire.io|${PIHOLE_PASSWORD}
      - FULL_SYNC=true
      - RUN_GRAVITY=true
      - CRON=0 * * * *
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /srv/volumes/homepage/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      HOMEPAGE_ALLOWED_HOSTS: home.theshire.io
  gluetun:
    container_name: gluetun
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp
      - 8388:8388/tcp
      - 8388:8388/udp
    volumes:
      - /srv/volumes/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - TZ=${TZ}
      - WIREGUARD_PRIVATE_KEY=${MULLVAD_KEY}
      - WIREGUARD_ADDRESSES=10.64.222.21/32
      - WIREGUARD_CITIES=Atlanta, Chicago, Los Angeles, Miami, Houston, Boston, Denver, Detroit, Kansas City, New York, Raleigh, Salt Lake City, San Jose, Seattle
    networks:
      - private
networks:
  bridgenet:
    name: "pi2bridge"
    driver: bridge
    enable_ipv4: true
    enable_ipv6: true
  private:
    name: "SevenSeas"
    driver: bridge
    enable_ipv4: true
    enable_ipv6: true

