include:
  - ../common/docker-socket-proxy.yml
  - ../common/watchtower.yml
  - ../common/pihole.yml
  - ../common/portainer-agent.yml
  - ../common/glances.yml
services:
  nebula-sync:
    container_name: 'Nebula-Sync'
    image: ghcr.io/lovelaze/nebula-sync:latest
    restart: unless-stopped
    environment:
      - PRIMARY=https://ns1.theshire.io|${PIHOLE_PASSWORD}
      - REPLICAS=https://ns2.theshire.io|${PIHOLE_PASSWORD}
      - FULL_SYNC=true
      - RUN_GRAVITY=true
      - CRON=0 * * * *
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /srv/volumes/homepage/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      HOMEPAGE_ALLOWED_HOSTS: home.theshire.io
  gluetun:
    container_name: gluetun
    image: qmcgaw/gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8080:8080/tcp
      - 8888:8888/tcp
      - 8388:8388/tcp
      - 8388:8388/udp
    volumes:
      - /srv/volumes/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - TZ=${TZ}
      - WIREGUARD_PRIVATE_KEY=${PROTON_KEY}
      - PORT_FORWARD_ONLY=on
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_PROVIDER=protonvpn
    networks:
      - private
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    network_mode: "service:gluetun"
    environment: 
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - WEBUI_PORT=8080
      - QBITTORRENT_INTERFACE=tun0
    volumes: 
      - /srv/volumes/qbittorrent:/config
      - /srv/volumes/downloads/incomplete:/incomplete
      - /srv/volumes/downloads/finished:/downloads
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes: 
      - /srv/volumes/prowlarr:/config
    networks:
      - private

networks:
  bridgenet:
    name: "pi2bridge"
    driver: bridge
    enable_ipv4: true
    enable_ipv6: true
  private:
    name: "private"
    driver: bridge
    enable_ipv4: true
    enable_ipv6: false

