include:
  - ../common/docker-socket-proxy.yml
  - ../common/watchtower.yml
  - ../common/pihole.yml
  - ../common/portainer-agent.yml
  - ../common/glances.yml
services:
  nebula-sync:
    container_name: 'Nebula-Sync'
    image: ghcr.io/lovelaze/nebula-sync:latest
    restart: unless-stopped
    environment:
      - PRIMARY=https://ns1.theshire.io|${PIHOLE_PASSWORD}
      - REPLICAS=https://ns2.theshire.io|${PIHOLE_PASSWORD}
      - FULL_SYNC=true
      - RUN_GRAVITY=true
      - CRON=0 * * * *
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /srv/volumes/homepage/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      HOMEPAGE_ALLOWED_HOSTS: home.theshire.io
  unbound:
    image: madnuttah/unbound:latest
    container_name: unbound
    hostname: unbound
    domainname: local
    restart: unless-stopped
    healthcheck:
      test: /usr/local/unbound/sbin/healthcheck.sh
      interval: 60s
      retries: 5
      start_period: 15s
      timeout: 30s
    ports:
      - 5335:5335/tcp
      - 5335:5335/udp
    networks:
      bridgenet:
        ipv4_address: 172.21.0.100
    environment:
      TZ: ${TZ}
      UNBOUND_UID: 1000
      UNBOUND_GID: 1000
      HEALTHCHECK_PORT: 5335
      ENABLE_STATS: true
    volumes:
      - /srv/volumes/unbound/unbound.conf:/usr/local/unbound/unbound.conf:rw
      - /srv/volumes/unbound/conf.d/:/usr/local/unbound/conf.d/:rw
      - /srv/volumes/unbound/log.d/unbound.log:/usr/local/unbound/log.d/unbound.log:rw
      - /srv/volumes/unbound/zones.d/:/usrlocal/unbound/zones.d/:rw
  unbound-socket:
    image: busybox
    container_name: unbound-socket
    init: true
    tty: true
    command:
      - /bin/sh
      - -c
      - |
      - chown -R 999:1000 /usr/local/unbound/cachedb.d/
        /bin/sh
    volumes:
      - /srv/volumes/unbound/cachedb.d:/usr/local/unbound/cachedb.d/

  redis:
    container_name: unbound-cache
    image: redis:alpine
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes: 
      - /srv/volumes/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - /srv/volumes/unbound/cachedb.d:/usr/local/unbound/cachedb.d/

networks:
  bridgenet:
    name: "pi2bridge"
    driver: bridge
    enable_ipv4: true
    enable_ipv6: true
    ipam:
      config:
        - subnet: 172.21.0.0/24
