include:
  - ../common/docker-socket-proxy.yml
  - ../common/watchtower.yml
  - ../common/pihole.yml
  - ../common/portainer-agent.yml
  - ../common/glances.yml
services:
  nebula-sync:
    container_name: 'Nebula-Sync'
    image: ghcr.io/lovelaze/nebula-sync:latest
    restart: unless-stopped
    environment:
      - PRIMARY=https://ns1.theshire.io|${PIHOLE_PASSWORD}
      - REPLICAS=https://ns2.theshire.io|${PIHOLE_PASSWORD}
      - FULL_SYNC=true
      - RUN_GRAVITY=true
      - CRON=0 * * * *
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /srv/volumes/homepage/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      HOMEPAGE_ALLOWED_HOSTS: home.theshire.io

networks:
  bridgenet:
    name: "pi2bridge"
    driver: bridge
    enable_ipv4: true
    enable_ipv6: true
